<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <h4 class="m-0"><i class="fas fa-bookmark"></i>Bookmark List</h4>
      <% if @cooks.present? %>
        <% @cooks.each do |cook| %>
        <div class="col mb-5">
          <div class="card" style="width: 260px;">

            <h3 class="d-inline-flex px-0"><%= image_tag cook.get_image, size: "260x160" %></h3>
              <div class="card-body">
                <!--<div id="bookmark_buttons_<%#= cook.id %>">-->
                <!--<%#= render "public/bookmarks/bookmarks", cook: cook %>-->
                <!--</div>-->
                <div class="text-center">
                <h5 class="fw-bolder"><strong><%= link_to cook.name, cook_path(cook.id),class: 'nav-link text-dark' %></strong></h5>
                <%= cook.required_time %>min
                </div>
              </div>

            </div>
          </div>
        <% end %>
    <% end %>
    </div>
    <div class="col-2 offset-5"><%= paginate @cooks %></div>
  </div>
</section>

