<div class="container ">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h4 class="text-center text-secondary mt-2">投稿編集</h4>
  </div>
</div>

  <div class="row">
    <div class="col-sm-12 col-md-11 col-lg-8 px-5 px-sm-0 mx-auto">
      <%= render "public/cooks/form", cook: @cook %>
    </div>
  </div>
  

