<div class="container">
  <div class="row my-5">
    <div class="col-5 offset-1 d-inline-flex">
      <h4 class="m-0">投稿</h4>
    </div>
  </div>
</div>
<%= render "public/cooks/errors", cook: @cook %>
<div class="row">
  <div class="col-sm-12 col-md-11 col-lg-8 px-5 px-sm-0 mx-auto">
    <%= render "public/cooks/form", cook: @cook %>
  </div>
</div>
