<!--絞り込み検索結果一覧-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <h3><i class="fas fa-leaf fa-flip-horizontal" style="color:#808D44;" ></i>
      検索結果"<%= @content %>"<i class="fas fa-leaf" style="color:#808D44;" ></i></h3>
    <br>
    <div class="row row-cols-xl-4 justify-content-center">
    <!--レシピ一覧の部分テンプレート  -->
    <%= render 'public/cooks/index', cook: @cooks %>
    <%= paginate @cooks %>
    </div>
  </div>
</section>