<div class="text-center">
  <div class="container">
  </div>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
      </header>
      <main role="main" class="inner cover">
        <h1 class="cover-heading text-dark"><%= link_to (image_tag('about.png')),root_path %><strong>Jisui no Mikata</strong> について<%= link_to (image_tag('about.png')),root_path %></h1>
        <br>
        <h5>メイン料理のバリエーションを増やしたい！簡単に献立を作成したい！という方々の味方になるコミュニティサイトです。</h5>
        <br>
        <br>
        <h3>- 特徴 -</h3>
        <br>
        <h5>自身の作った料理のレシピを投稿することができ、他者が作った料理を閲覧することが可能です。</h5>
        <br>
        <h5>ブックマークをして自身のお気に入りのレシピだけを閲覧することが可能です。</h5>
        <br>
        <h5>一週間の献立をランダムに自動作成することができ、献立決めを簡単に行うことができます。</h5>
        <p></p>
      </main>
      <footer class="mastfoot mt-auto">
      </footer>
    </div>
</div>


