<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm10 col-lg-8 col-xl-6' >
      <h2>Wecome!</h2>
      <div class="btn-wrapper col-10 mx-auto" >
        <!--<div class="row">-->
        <!--  <%#= link_to 'ゲストログイン',customers_guest_sign_in_path,class: "btn btn-dark btn-sm btn-block mb-3 sign_in",method: :post %>-->
        <!--</div>-->
        <!--<div class="row">-->
        <!--  <%#= link_to '管理者ログイン',new_admin_session_path,class: "btn btn-secondary btn-sm btn-block mb-3 sign_in" %>-->
        <!--</div>-->
        <!--<div class="row">-->
        <!--  <%#= link_to 'ログイン',new_customer_session_path,class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>-->
        <!--</div>-->
        <!--<div class="row">-->
        <!--  <%#= link_to '会員登録',new_customer_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>