<div class="back_image">
  <div class="container">
    <div class="row">
      <div class='mx-auto col-11 col-sm10 col-lg-8 col-xl-6' >
        <h2>Wecome!</h2>
        <link rel="stylesheet" href="homes.css">
        <div class="btn-wrapper col-10 mx-auto" >
          <div class="bg_test">
            <div class="bg_test-text">
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>