<div class="back_image">
  <body class="text-center">
    <div class="container">
    </div>
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
        </header>

        <main role="main" class="inner cover">
        <h1 class="display-3 cover-heading text-light"><strong>Jisui no Mikata</strong></h1>



        <p class="lead">
        <%= link_to 'Log in',new_customer_session_path, class: "btn btn-info btn-lg" %>
        </p>
        </main>

        <footer class="mastfoot mt-auto">
        </footer>


      </div>
  </div>
</div>



        <link rel="stylesheet" href="homes.css">
        <div class="btn-wrapper col-10 mx-auto" >
          <div class="bg_test">
            <div class="bg_test-text">

            </div>
          </div>
        </div>
