<%= form_tag({controller:"cooks",action:"index"}, method: :get) do  %>
  <!--タグセレクトボックスを追加してタグに関連付いた投稿を絞り込み-->
  <%= select_tag :tag_id, options_from_collection_for_select(tags, "id","name") %>
  <button type="submit" class="btn btn-outline-dark btn-sm">
    <i class="fas fa-search"></i>
  </button>
<% end %>