@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Raleway&display=swap');

// @import background: url(/images/image.png);
// @import background-image: url(/images/image.png);

html, body {
  font-family: 'Raleway', 'Kiwi Maru', serif;
}

.random-menu-card-img {
  object-fit: cover !important;
  width: 100% !important;
  height: 200px !important;
}

.pagination {
  justify-content: center;
}



// .main-container {
//   background-image: url("/images/hogehoge.png");
//   height: 800px;
//   background-size: cover;
// }

