/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // .navbar{
 //   opacity: 50;

 .back_image{
    background-image: image-url('remonade.png');
    background-size: cover;
    background-attachment: fixed;
    height: 84vh;
    width: 100vw;
    opacity: 0.7;
    background-position: center center;
    object-fit: cover;
  }

  // ページネーション自体のデザイン
 .pagination>li>a {
    border: none;    /*枠線削除*/
    color: #696969;   
  }

 /* 表示しているページ番号のデザイン */
 .pagination>.active>a {
    background: #93c9ff;     
    border-radius: 20px;    /*角丸*/
  }

 /*ホバー時のデザイン*/
 .pagination>li>a:hover {
    border-radius: 15px;    /*角丸*/
  }

  .radius_test {
    border-radius: 10px;    /* 角丸 */
  }

  img {
    object-fit: cover;
  }

  img {
      border-radius: 10px;    /* 角丸 */
  }

  .card-wrapper{
    display: flex;
    flex-direction: column;
  }